<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= (locals.title ? `${locals.title} | ` : '') + 'vivere js' %></title>
    <meta name="description" content="<%= locals.description || "A minimalist Javascript for brining reactive component magic to your static or server rendered HTML" %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <link rel="stylesheet" href="/styles/main.css" data-turbo-track="reload"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Rubik:wght@400;500&family=Secular+One&display=fallback" rel="stylesheet">

    <script src="/scripts/main.js" data-turbo-track="reload" delay></script>
  </head>
  <body
    v-component="page"
    v-class:dark="darkMode"
    class="transition-all"
  >
    <main class="k-container relative">
      <%- content %>
    </main>
    <div class="absolute top-0 right-0 m-8">
      <button
        v-if="true"
        v-event:mouseenter="showingModal = true"
        class="transition-all px-4 py-2 border-2 border-white dark:border-gray-900 text-gray-500 dark:text-gray-400"
        hidden
      >
        <div v-if="mode === 'auto'">
          <div v-if="systemDark">
            <%- include('/icons/dark-auto', { size: 24 }) %>
          </div>
          <div v-if="!systemDark">
            <%- include('/icons/light-auto', { size: 24 }) %>
          </div>
        </div>
        <div v-if="mode === 'light'">
          <%- include('/icons/light', { size: 24 }) %>
        </div>
        <div v-if="mode === 'dark'">
          <%- include('/icons/dark', { size: 24 }) %>
        </div>
      </button>
      <div
        v-if="showingModal"
        v-event:mouseleave="showingModal = false"
        class="absolute top-0 right-0 -mt-2 flex flex-col items-stretch rounded bg-white dark:bg-gray-800 py-2 border-2 shadow-xl space-y-1"
        hidden
      >
        <% ['auto', 'light', 'dark'].forEach((mode) => { %>
          <button
            v-event:click="mode = '<%= mode %>'"
            class="flex items-center hover:bg-indigo-100 dark:hover:bg-gray-700 px-4 py-2"
          >
            <!--
              TAILWIND
              text-indigo-600
              dark:text-indigo-500
              text-gray-800
              dark:text-gray-400
            -->
            <p
              v-class:text-indigo-600.dark:text-indigo-500="mode === '<%= mode %>'"
              v-class:text-gray-500.dark:text-gray-400="mode !== '<%= mode %>'"
            >
              <% if (mode === 'auto') { %>
                <span v-if="systemDark">
                  <%- include('/icons/dark-auto', { size: 24 }) %>
                </span>
                <span v-if="!systemDark">
                  <%- include('/icons/light-auto', { size: 24 }) %>
                </span>
              <% } else { %>
                <%- include(`/icons/${mode}`, { size: 24 }) %>
              <% } %>
            </p>
          </button>
        <% }); %>
      </div>
    </div>
  </body>
</html>
